<!DOCTYPE html>

<html>
    <head>

        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/styleevent.css" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
    <title>El Cucharón</title>

    <style>

    </style>

    </head>
    <body>
        <div class ="form">
            <h5>Añadir comentario</h5>
            Nombre: <input type="text" id="name"/> <br/><br/>
            E-mail: <input type="text" id="email"/> <br/><br/>
            Fecha: <input type="date" id="date"/> <br/> <br/>
            Comentario: <textarea rows="5" col="30" id="bodyText"></textarea><br/><br/>
            <input type="button" id= "addComment" value="Añadir comentario"/>


        </div>
        <div id = "container">
            
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src='jscript/script.js' type='text/javascript'></script>
    </body>

</html>